.products-page {
    .products-nav {
        background-color: rgb(243 244 246);
        padding: 1rem;

        .nav-buttons {
            display: flex;
            justify-content: center;
            gap: 5px;
            flex-wrap: wrap;

            button {
                padding: 0.5rem 1rem;
                border: none;
                background-color: rgb(255 255 255);
                cursor: pointer;
                border-radius: 9999px;
                font-weight: 400;
                color: rgb(17 24 39);
                transition: background-color 0.3s;

                &:hover {
                    background-color: rgb(229 231 235);
                }
            }

            .active {
                background-color: rgb(139 0 0);
                color: #fff;
            }
        }
    }

    .products {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-wrap: wrap;

        .Load-More {
            padding: 10px 20px;
            background-color: rgb(139 0 0);
            color: #fff;
            border: none;
            margin-top: 20px;
            transition: 0.2s ease-in-out;

            &:hover {
                background-color: #fff;
                border: 1px solid rgb(139 0 0);
                color: rgb(139 0 0);
                font-weight: 500;
            }
        }
    }

}